body {
  background-color: #F5F5F5;
  min-height: 300px;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1, h2 {
  font-family: Arial, sans-serif;
  font-size: 2em;
  color: #333;
}

main {
  width: 80%;
  margin: 0 auto;
  min-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px #CCCCCC;
  padding: 20px;
}

button, button:focus {
  background-color: #3498DB;
  border: none;
  border-radius: 5%;
  color: #FFFFFF;
  font-size: 1.2em;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #2980B9;
  cursor: pointer;
}

div.quote {
  padding: 20px;
  margin: 30px auto;
  background-color: #F8F8F8;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #CCCCCC; 
}

blockquote {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

div.quote p {
  margin-bottom: 50px;
  font-style: italic;
  color: #666666;
}

.zoom-in {
  cursor: zoom-in;
}

.zoom-out {
  cursor: zoom-out;
}

button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
